#board
{
   border-style: solid;
   border-width: 5px;
   width: 350px;
   height: 350px;
   margin: 0px;
   z-index: -5;
}
#klocek {
   z-index: 1;

   width: 50px;
   height: 50px;
   left: 5px;
   position: absolute;
   top: 5px;
}
.food
{
   z-index: 1;
    background-color: black;
   background-image: url('img/churupki.jpg') ;
   width: 10px;
   top: 40px;
   height: 10px;
   position: absolute;
}
#score{
   position: absolute;
   z-index: -5;
   top: 370px;
   left: 5px;
}
